In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import gamma
import pandas as pd

In [2]:
obs_data = pd.read_csv('observational_data.csv')
obs_data.shape

(262, 6171)

In [3]:
obs_data.head()

,Unnamed: 0,Q0010,Q0017,Q0032,Q0045,Q0050,Q0055,Q0060,Q0065,Q0070,...,YPR192W,YPR193C,YPR194C,YPR195C,YPR196W,YPR197C,YPR198W,YPR199C,YPR200C,YPR201W
0,wt-SEL007-2-vs-wt,0.025851,0.010221,0.019531,0.186779,0.189502,0.423793,0.326250,0.480761,0.100116,...,-0.046690,-0.024820,0.097975,0.010780,0.013484,-0.008884,0.051762,-0.032916,-0.007016,0.004451
1,wt-sv017_1-vs-wt,-0.026918,0.009347,-0.001513,-0.139574,-0.431507,-0.469628,-0.255637,-0.453957,-0.465016,...,-0.101519,-0.091607,-0.116461,-0.032870,-0.039116,0.042238,-0.063340,-0.024788,-0.244538,-0.285583
2,wt-mmk025-vs-wt,0.003516,0.006521,-0.023372,-0.128666,0.182069,-0.332484,-0.185523,-0.044288,-0.186623,...,0.030774,-0.046259,-0.040944,-0.000743,-0.101524,0.024079,0.037115,0.123838,0.053654,0.031198
3,wt-ea032-vs-wt,0.013098,0.023894,-0.035600,0.126497,0.162700,0.585299,0.389798,0.821596,0.916003,...,0.063296,-0.011800,0.060504,0.067198,0.015597,0.009605,0.153403,0.010694,0.040205,0.002393
4,wt-ea019-vs-wt,-0.022500,0.008802,-0.033000,0.050899,0.308897,0.116897,-0.227400,0.006004,0.158596,...,0.049003,-0.006600,0.100103,0.026007,0.054196,0.051706,0.015597,-0.007100,0.052305,-0.036800

In [10]:
int_data = pd.read_csv('interventional_data.csv')
int_data.shape

int_pos_data = pd.read_csv('interventional_position_data.csv')

In [5]:
int_data.head()

,Unnamed: 0,Q0010,Q0017,Q0032,Q0045,Q0050,Q0055,Q0060,Q0065,Q0070,...,YPR192W,YPR193C,YPR194C,YPR195C,YPR196W,YPR197C,YPR198W,YPR199C,YPR200C,YPR201W
0,YAL002W,0.007138,0.018591,0.058884,-0.410887,-2.152279,-2.984217,-2.123057,-4.396767,-4.226155,...,-0.187411,0.106281,-0.362751,-0.019175,0.075670,-0.102656,0.239044,-0.051489,0.146251,0.091097
1,YAL009W,0.010493,0.026106,0.000793,-0.037900,0.264897,-0.605299,-0.563301,-0.307300,-0.304801,...,0.104095,-0.133500,-0.126399,0.030195,-0.039399,0.026899,0.029107,0.014598,0.008501,-0.091800
2,YAL011W,0.002983,-0.013205,-0.032533,0.150976,0.287567,0.136218,0.058067,-0.111134,-0.031501,...,-0.025581,-0.103237,0.439730,0.084214,0.172475,0.021039,-0.102190,0.013112,-0.171702,-0.112531
3,YAL013W,0.040416,-0.000688,0.022872,0.132445,-0.075260,0.117136,-0.159837,-0.002131,0.082376,...,-0.243117,0.259049,-0.198424,-0.012381,0.031423,-0.037473,-0.163698,-0.357487,-0.013937,0.038956
4,YAL015C,-0.004236,-0.066130,-0.000753,0.022545,0.000274,-0.063577,0.111606,0.038001,0.002465,...,0.220887,-0.005632,-0.021317,-0.049088,0.052764,0.048864,0.128399,-0.043583,0.026163,0.061638

In [11]:
int_pos_data.head()

  Unnamed: 0   Mutant  Position
0    YAL002W  YAL002W        31
1    YAL009W  YAL009W        37
2    YAL011W  YAL011W        39
3    YAL013W  YAL013W        41
4    YAL015C  YAL015C        43

In [8]:
int_data.loc[0]

Unnamed: 0     YAL002W
Q0010         0.007138
Q0017         0.018591
Q0032         0.058884
Q0045        -0.410887
                ...
YPR197C      -0.102656
YPR198W       0.239044
YPR199C      -0.051489
YPR200C       0.146251
YPR201W       0.091097
Name: 0, Length: 6171, dtype: object

In [7]:
int_data.iloc[0]['YAL002W']

-2.1874574

In [14]:
int_data.iloc[1]['YAL009W']

-2.872203